<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Daos -->
<!-- 	<bean id="noteDao" class="com.ilanever.izone.daos.NoteDao"></bean> -->
<!-- 	<bean id="tagDao" class="com.ilanever.izone.daos.TagDao"></bean> -->
<!-- 	<bean id="articleInTagDao" class="com.ilanever.izone.daos.ArticleInTagDao"></bean> -->
<!-- 	<bean id="articleDao" class="com.ilanever.izone.daos.ArticleDao"></bean> -->
<!-- 	<bean id="commentDao" class="com.ilanever.izone.daos.CommentDao"></bean> -->
<!-- 	<bean id="userDao" class="com.ilanever.izone.daos.UserDao"></bean> -->
<!-- 	<bean id="topicDao" class="com.ilanever.izone.daos.TopicDao"></bean> -->
<!-- 	<bean id="topicNodeDao" class="com.ilanever.izone.daos.TopicNodeDao"></bean> -->


	<!-- Services -->
<!-- 	<bean id="noteService" class="com.ilanever.izone.services.NoteService"> -->
<!-- 		<property name="noteDao" ref="noteDao"></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="tagService" class="com.ilanever.izone.services.TagService"> -->
<!-- 		<property name="articleInTagDao" ref="articleInTagDao"></property> -->
<!-- 		<property name="tagDao" ref="tagDao"></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="articleService" class="com.ilanever.izone.services.ArticleService"> -->
<!-- 		<property name="articleDao" ref="articleDao"></property> -->
<!-- 		<property name="articleInTagDao" ref="articleInTagDao"></property> -->
<!-- 		<property name="tagDao" ref="tagDao"></property> -->
<!-- 		<property name="userDao" ref="userDao"></property> -->
<!-- 		<property name="topicDao" ref="topicDao"></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="commentService" class="com.ilanever.izone.services.CommentService"> -->
<!-- 		<property name="commentDao" ref="commentDao"></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="topicService" class="com.ilanever.izone.services.TopicService"> -->
<!-- 		<property name="topicNodeDao" ref="topicNodeDao"></property> -->
<!-- 		<property name="topicDao" ref="topicDao"></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="topicNodeService" class="com.ilanever.izone.services.TopicNodeService"> -->
<!-- 		<property name="topicNodeDao" ref="topicNodeDao"></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="userService" class="com.ilanever.izone.services.UserService"> -->
<!-- 		<property name="userDao" ref="userDao"></property> -->
<!-- 	</bean> -->


<!-- 	Actions --> 
	<bean id="homeActions" class="com.orbit.actions.HomeActions">
<!-- 		<property name="topicService" ref="topicService" /> -->
<!-- 		<property name="tagService" ref="tagService" /> -->
<!-- 		<property name="articleService" ref="articleService" /> -->
<!-- 		<property name="noteService" ref="noteService" /> -->
	</bean>
<!-- 	<bean id="userAction" class="com.ilanever.izone.actions.UserAction"> -->
<!-- 		<property name="userService" ref="userService" /> -->
<!-- 	</bean> -->
<!-- 	<bean id="noteAction" class="com.ilanever.izone.actions.NoteAction"> -->
<!-- 		<property name="noteService" ref="noteService" /> -->
<!-- 	</bean> -->
<!-- 	<bean id="tagAction" class="com.ilanever.izone.actions.TagAction"> -->
<!-- 		<property name="tagService" ref="tagService" /> -->
<!-- 		<property name="articleService" ref="articleService" /> -->
<!-- 	</bean> -->
<!-- 	<bean id="articleAction" class="com.ilanever.izone.actions.ArticleAction"> -->
<!-- 		<property name="articleService" ref="articleService" /> -->
<!-- 		<property name="tagService" ref="tagService"></property> -->
<!-- 		<property name="commentService" ref="commentService"></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="commentAction" class="com.ilanever.izone.actions.CommentAction"> -->
<!-- 		<property name="commentService" ref="commentService" /> -->
<!-- 	</bean> -->
<!-- 	<bean id="topicAction" class="com.ilanever.izone.actions.TopicAction"> -->
<!-- 		<property name="topicService" ref="topicService" /> -->
<!-- 		<property name="topicNodeService" ref="topicNodeService" /> -->
<!-- 	</bean> -->
<!-- 	<bean id="topicNodeAction" class="com.ilanever.izone.actions.TopicNodeAction"> -->
<!-- 		<property name="topicService" ref="topicService"></property> -->
<!-- 		<property name="topicNodeService" ref="topicNodeService" /> -->
<!-- 	</bean> -->
<!-- 	<bean id="projectAction" class="com.ilanever.izone.actions.ProjectAction"></bean> -->
<!-- 	<bean id="aboutAction" class="com.ilanever.izone.actions.AboutAction"></bean> -->
<!-- 	<bean id="siteMapAction" class="com.ilanever.izone.actions.SiteMapAction"> -->
<!-- 		<property name="topicService" ref="topicService"></property> -->
<!-- 		<property name="tagService" ref="tagService"></property> -->
<!-- 		<property name="articleService" ref="articleService"></property> -->
<!-- 	</bean> -->
<!-- 	<bean id="fileAction" class="com.ilanever.izone.actions.FileAction"></bean> -->
</beans>